<div class="container">

  <div>
    <h1>About Messagebox</h1>
  </div>

  <div>
    <h2>Our Idea <i class="fa fa-lightbulb-o" aria-hidden="true"></i></h2>
    <p>
      People all over the world use our app to stay in touch with their neighborhood. From buying and selling things to finding
      a nanny, a housekeeper or just a friend, our app can do it and it is available on phones all over the world.
    </p>
  </div>


  <div>
    <h2>Our Team <i class="fa fa-users" aria-hidden="true"></i></h2>
    <p>
      Messagebox.io was created by Valentin Berea and Catalin Ciubotaru, two developers who have spent several years working together
      for their day job and also 'a few' nights for Messagebox.io.
    </p>
  </div>
</div>
