<div class="container">

  <a href="" routerLink="/messages" class="btn btn-info">
    <i class="fa fa-arrow-left"></i>
    Go back
  </a>

  <form novalidate (ngSubmit)="addMessage()" [formGroup]="message">
    <div class="form-group">
      <label>Name</label>
      <input type="text" placeholder="Your name" formControlName="name" class="form-control">

      <div ngxErrors="name">
        <div ngxError="required" [when]="['dirty', 'touched']" class="error">
          Name is required
        </div>
        <div ngxError="minlength" [when]="['dirty', 'touched']" class="error">
          Minimum of 2 characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Text</label>
      <textarea rows="10" cols="" placeholder="Your message" formControlName="content" class="form-control"></textarea>

      <div ngxErrors="content">
        <div ngxError="required" [when]="['dirty', 'touched']" class="error">
          Message is required
        </div>
        <div ngxError="minlength" [when]="['dirty', 'touched']" class="error">
          Minimum of 2 characters
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="message.invalid" class="btn btn-warning">
    <i class="fa fa-plus"></i>
      Create
    </button>
  </form>

</div>
