<div class="container">
  <h1 class="text-center">Welcome to your MessageBox</h1>

  <div class="top-container">
    <div>
      <p class="initial">Are you good at fixing things? Are you looking for help in your neighborhood? Are you moving and selling your furniture?</p>
      <p>
        Does your kid need a new bike? <strong>Use Messagebox!</strong> With our help you can let your neighbors know that
        you are open for business! Just write it down, post it and everybody will see it! Your neighbors are just one click
        away!
      </p>
    </div>
    <div>
      <img src="../../assets/simple-logo.svg" alt="" class="main-logo">
    </div>
  </div>

  <div class="bottom-container">
    <div class="module">
      <div class="module-icon text-center">
        <i class="fa fa-wrench fa-5x" aria-hidden="true"></i>
      </div>
      Need some help with some work around the house. Here you can find it.
      <div class="module-footer">
        <button type="button" class="btn btn-primary" routerLink='/messages'>Spread the word!</button>
      </div>
    </div>

    <div class="module">
      <div class="module-icon text-center">
        <i class="fa fa-laptop fa-5x" aria-hidden="true"></i>
      </div>
      Are you good with computers and looking to make some money. Tell people what you can do.
      <div class="module-footer">
        <button type="button" class="btn btn-primary" routerLink='/messages'>Spread the word!</button>
      </div>
    </div>

    <div class="module">
      <div class="module-icon text-center">
        <i class="fa fa-music fa-5x" aria-hidden="true"></i>
      </div>
      Are you offering music lessons? Maybe there are people who are interested in your neighborhood
      <div class="module-footer">
        <button type="button" class="btn btn-primary" routerLink='/messages'>Spread the word!</button>
      </div>
    </div>
  </div>
</div>
